<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="n"/>
<entry key="class" type="xstring" value="INTEGER"/>
<entry key="value" type="xint" value="2000"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="targetColumn" type="xstring" value="Target"/>
<entry key="seed" type="xstring" isnull="true" value=""/>
<entry key="maxLevels" type="xint" value="2"/>
<entry key="minNodeSize" type="xint" value="-1"/>
<entry key="minChildSize" type="xint" value="-1"/>
<entry key="dataFraction" type="xdouble" value="1.0"/>
<entry key="isDataSelectionWithReplacement" type="xboolean" value="false"/>
<entry key="hardCodedRootColumn" type="xstring" isnull="true" value=""/>
<entry key="columnSamplingMode" type="xstring" value="Absolute"/>
<entry key="columnFractionPerTree" type="xdouble" value="1.0"/>
<entry key="columnAbsolutePerTree" type="xint" value="3"/>
<entry key="isUseDifferentAttributesAtEachNode" type="xboolean" value="false"/>
<entry key="nrModels" type="xint" value="2000"/>
<entry key="splitCriterion" type="xstring" value="InformationGainRatio"/>
<entry key="useAverageSplitPoints" type="xboolean" value="true"/>
<entry key="fingerprintColumn" type="xstring" isnull="true" value=""/>
<config key="includeColumns"/>
<entry key="includeAllColumns" type="xboolean" value="true"/>
<entry key="ignoreColumnsWithoutDomain" type="xboolean" value="true"/>
<entry key="nrHilitePatterns" type="xint" value="-1"/>
<entry key="saveTargetDistributionInNodes" type="xboolean" value="false"/>
</config>
<config key="variables">
<config key="nrModels">
<entry key="used_variable" type="xstring" isnull="true" value=""/>
<entry key="exposed_variable" type="xstring" value="n"/>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="nrmodels = 2000%%00010depth = 2%%00010column_count=3"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="384"/>
<entry key="y-coordinate" type="xint" value="472"/>
<entry key="width" type="xint" value="101"/>
<entry key="height" type="xint" value="45"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="0"/>
<entry key="defFontSize" type="xint" value="-1"/>
<entry key="annotation-version" type="xint" value="-1"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<config key="nodecontainer_message">
<entry key="type" type="xstring" value="WARNING"/>
<entry key="message" type="xstring" value="13 column(s) were ignored due to missing domain information: [&quot;Var192&quot;, &quot;Var197&quot;, &quot;Var198&quot;, &quot;Var199&quot;, ...] -- change the node configuration or use a Domain Calculator node to fix it"/>
</config>
<entry key="factory" type="xstring" value="org.knime.base.node.mine.treeensemble.node.learner.classification.TreeEnsembleClassificationLearnerNodeFactory"/>
<entry key="node-name" type="xstring" value="Tree Ensemble Learner (deprecated)"/>
<entry key="node-bundle-name" type="xstring" value="Decisions Tree Ensembles for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.treeensembles"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.4.0.v201702101156"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.4.1.v201709070950"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Tree Ensemble Learner (deprecated)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_3">
<entry key="index" type="xint" value="3"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
