<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="include-list_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<config key="include-list">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="108"/>
<entry key="0" type="xstring" value="Var14741"/>
<entry key="1" type="xstring" value="Var14745"/>
<entry key="2" type="xstring" value="Var14746"/>
<entry key="3" type="xstring" value="Var14747"/>
<entry key="4" type="xstring" value="Var14748"/>
<entry key="5" type="xstring" value="Var14752"/>
<entry key="6" type="xstring" value="Var14755"/>
<entry key="7" type="xstring" value="Var14758"/>
<entry key="8" type="xstring" value="Var14762"/>
<entry key="9" type="xstring" value="Var14765"/>
<entry key="10" type="xstring" value="Var14766"/>
<entry key="11" type="xstring" value="Var14767"/>
<entry key="12" type="xstring" value="Var14769"/>
<entry key="13" type="xstring" value="Var14771"/>
<entry key="14" type="xstring" value="Var14772"/>
<entry key="15" type="xstring" value="Var14773"/>
<entry key="16" type="xstring" value="Var14776"/>
<entry key="17" type="xstring" value="Var14778"/>
<entry key="18" type="xstring" value="Var14784"/>
<entry key="19" type="xstring" value="Var14785"/>
<entry key="20" type="xstring" value="Var14786"/>
<entry key="21" type="xstring" value="Var14788"/>
<entry key="22" type="xstring" value="Var14791"/>
<entry key="23" type="xstring" value="Var14795"/>
<entry key="24" type="xstring" value="Var14797"/>
<entry key="25" type="xstring" value="Var14800"/>
<entry key="26" type="xstring" value="Var14802"/>
<entry key="27" type="xstring" value="Var14803"/>
<entry key="28" type="xstring" value="Var14809"/>
<entry key="29" type="xstring" value="Var14811"/>
<entry key="30" type="xstring" value="Var14813"/>
<entry key="31" type="xstring" value="Var14815"/>
<entry key="32" type="xstring" value="Var14817"/>
<entry key="33" type="xstring" value="Var14821"/>
<entry key="34" type="xstring" value="Var14822"/>
<entry key="35" type="xstring" value="Var14823"/>
<entry key="36" type="xstring" value="Var14832"/>
<entry key="37" type="xstring" value="Var14834"/>
<entry key="38" type="xstring" value="Var14836"/>
<entry key="39" type="xstring" value="Var14838"/>
<entry key="40" type="xstring" value="Var14839"/>
<entry key="41" type="xstring" value="Var14841"/>
<entry key="42" type="xstring" value="Var14842"/>
<entry key="43" type="xstring" value="Var14846"/>
<entry key="44" type="xstring" value="Var14847"/>
<entry key="45" type="xstring" value="Var14850"/>
<entry key="46" type="xstring" value="Var14854"/>
<entry key="47" type="xstring" value="Var14859"/>
<entry key="48" type="xstring" value="Var14860"/>
<entry key="49" type="xstring" value="Var14863"/>
<entry key="50" type="xstring" value="Var14865"/>
<entry key="51" type="xstring" value="Var14866"/>
<entry key="52" type="xstring" value="Var14867"/>
<entry key="53" type="xstring" value="Var14868"/>
<entry key="54" type="xstring" value="Var14869"/>
<entry key="55" type="xstring" value="Var14871"/>
<entry key="56" type="xstring" value="Var14873"/>
<entry key="57" type="xstring" value="Var14874"/>
<entry key="58" type="xstring" value="Var14875"/>
<entry key="59" type="xstring" value="Var14876"/>
<entry key="60" type="xstring" value="Var14878"/>
<entry key="61" type="xstring" value="Var14885"/>
<entry key="62" type="xstring" value="Var14888"/>
<entry key="63" type="xstring" value="Var14890"/>
<entry key="64" type="xstring" value="Var14892"/>
<entry key="65" type="xstring" value="Var14893"/>
<entry key="66" type="xstring" value="Var14894"/>
<entry key="67" type="xstring" value="Var14896"/>
<entry key="68" type="xstring" value="Var14900"/>
<entry key="69" type="xstring" value="Var14903"/>
<entry key="70" type="xstring" value="Var14904"/>
<entry key="71" type="xstring" value="Var14906"/>
<entry key="72" type="xstring" value="Var14909"/>
<entry key="73" type="xstring" value="Var14910"/>
<entry key="74" type="xstring" value="Var14912"/>
<entry key="75" type="xstring" value="Var14913"/>
<entry key="76" type="xstring" value="Var14914"/>
<entry key="77" type="xstring" value="Var14916"/>
<entry key="78" type="xstring" value="Var14921"/>
<entry key="79" type="xstring" value="Var14922"/>
<entry key="80" type="xstring" value="Var14923"/>
<entry key="81" type="xstring" value="Var14928"/>
<entry key="82" type="xstring" value="Var14939"/>
<entry key="83" type="xstring" value="Var14942"/>
<entry key="84" type="xstring" value="Var14944"/>
<entry key="85" type="xstring" value="Var14946"/>
<entry key="86" type="xstring" value="Var14947"/>
<entry key="87" type="xstring" value="Var14953"/>
<entry key="88" type="xstring" value="Var14954"/>
<entry key="89" type="xstring" value="Var14956"/>
<entry key="90" type="xstring" value="Var14963"/>
<entry key="91" type="xstring" value="Var14964"/>
<entry key="92" type="xstring" value="Var14965"/>
<entry key="93" type="xstring" value="Var14967"/>
<entry key="94" type="xstring" value="Var14969"/>
<entry key="95" type="xstring" value="Var14970"/>
<entry key="96" type="xstring" value="Var14974"/>
<entry key="97" type="xstring" value="Var14975"/>
<entry key="98" type="xstring" value="Var14980"/>
<entry key="99" type="xstring" value="Var14983"/>
<entry key="100" type="xstring" value="Var14984"/>
<entry key="101" type="xstring" value="Var14989"/>
<entry key="102" type="xstring" value="Var14990"/>
<entry key="103" type="xstring" value="Var14993"/>
<entry key="104" type="xstring" value="Var14995"/>
<entry key="105" type="xstring" value="Var14996"/>
<entry key="106" type="xstring" value="Var14998"/>
<entry key="107" type="xstring" value="Target"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<config key="possibleValuesCount_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="possibleValuesCount" type="xint" value="50"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="IDLE"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.correlation.compute.CorrelationComputeNodeFactory"/>
<entry key="node-name" type="xstring" value="Linear Correlation"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.1.0.v201512020906"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.1.0.v201512031304"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Linear Correlation"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
<config key="port_2">
<entry key="index" type="xint" value="2"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
